body{
      font-family: 'Open Sans', sans-serif;
}

.contain{
  display: grid;
  grid-template-columns: 120px;
  grid-template-rows: 100px 130px 500px 300px 110px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "tx tx tx tx tx tx tx tx"
    "main main main main main main main main"
    "sd sd sd sd sd sd sd sd"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid red;
  grid-gap: 2px;
}

.con{
  border: 2px solid green;
}

.new{
  grid-area: hd;
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

.new2{
  grid-area: tx;
}

.new3{
  grid-area: main;
}

.new4{
  grid-area: sd;
}

.new5{
  grid-area: ft;
}
.dot{
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

.right{
  margin-left: auto;
}

.nested{
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(60px , auto);
  grid-gap: 4px;
}

.border{
  border: 2px solid red;
}

/*****  Media Query ******/
@media (min-width: 600px) and (max-width: 900px){
  .contain{
    display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 90px 130px 290px 70px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "tx tx tx tx tx tx tx tx"
    "main main main main main main main sd"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid red;
    grid-gap: 2px;
  }

  .right{
  margin-left: auto;

  }

}

@media (min-width: 901px) and (max-width: 1000px){
   .contain{
    display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 80px 180px 550px 70px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "tx tx tx tx tx tx tx tx"
    "main main main main main main main sd"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid red;
     grid-gap: 2px;
}

.right{
margin-left: auto;

}

}
/*** Media Query For iPad Landscape Mode******/
@media (min-width: 768px) and (max-width: 1024px){
  .contain{
    display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 80px 180px 670px 70px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "tx tx tx tx tx tx tx tx"
    "main main main main main main main sd"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid red;
     grid-gap: 2px;
  }

  .nested{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(85px , auto);
    grid-gap: 4px;
  }
}

/****** Media Query For iPad Pro Landscape Mode*******/

@media (min-width: 1024px) and (max-width: 1366px){
  .contain{
    display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 80px 250px 30em 70px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "tx tx tx tx tx tx tx tx"
    "main main main main main main main sd"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid red;
     grid-gap: 2px;
  }

  .nested{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(120px , auto);
    grid-gap: 4px;
  }

  .right{
    margin-left: auto;
  }

}

@media (min-width: 320px) and (max-width: 568px){
  .button{
    border: 2px solid green;
    border-radius: 4px 4px 4px 4px;
    color: #ff0101;
    padding: 1px;
    cursor: pointer;
    text-decoration: none;

  }

}

/*** Kindle Media Query ****/

@media (min-width: 800px) and (max-width: 1280px){

  .contain{
    display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 80px 250px 80em 70px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "tx tx tx tx tx tx tx tx"
    "main main main main main main main sd"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid red;
     grid-gap: 2px;
  }

  .nested{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(120px , auto);
    grid-gap: 4px;
  }

  .right{
    margin-left: auto;
  }

}

.border{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.style{
  font-style: italic;
}

/**** Media Query for nexus 7 ***/
@media (min-width: 600px) and (max-width: 960px){
.contain{
    display: grid;
  grid-template-columns: repeat(5, 110px);
  grid-template-rows: 80px 250px 53em 70px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "tx tx tx tx tx tx tx tx"
    "main main main main main main sd sd"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid red;
     grid-gap: 2px;
  }

  .nested{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(120px , auto);
    grid-gap: 4px;
  }

}


/************* nested grid *************/

.button{
  border: 2px solid green;
  border-radius: 4px 4px 4px 4px;
  color: #ff0101;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;

}

.button:hover{
  color: #fff;
  background-color: #0a0707;
}

.margin-left{
  margin-left: auto;
}

/*** Card News Box ***/

.border-new{
  border: 2px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  width: 10em;
  justify-content: center;
  align-items: center;
  margin: 4% 0 0 5%;
 cursor: pointer;
}

.border-new:hover{
box-shadow: 0 5px 8px 4px #cdcdcd;
}

.image{
  width: 10em;
  height: auto;
}

.new-blog{
  text-decoration: none;
  font-size: 19px;
  border: 2px solid green;
  border-radius: 4px 4px 4px 4px;
  color: #000000;
  padding: 1px;
}

.new-blog:hover{
  background-color: #decccc;
}

/*** news-topic ***/

.news-topic{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 font-weight: bold;
}

.udacity-footer,.underline{

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-decoration: none;
}

/***** new topics ****/

.none-dots,.text-line{
  list-style-type: none;
  text-decoration: none;
  line-height: 2;
}

.margin-left{
  margin-left: 10%;
}

@media (min-width: 1440px) and (max-width: 900px){

body{
  background-color: #fff;
}
}
